body{
  margin:0;
  font-family: 'Roboto', sans-serif;
}
.header-area {
 background-image: url("images/top-banner.png");
 background-repeat: no-repeat;
 height:500px;
 margin-bottom:150px;
 
  
}
.half-area {
  width:40%;
  float:left;
  margin-left:7%;
  
}
.half-area h1{
  font-size:50px;
}
.half-area span {
  color: #FFA500;
}
.half-area img {
  width:100%;
}
.half-area h3 {
  font-weight: :700px;
 
}
.half-area p {
  color:#808080;
  font-size: 18px;
}
.btn {
  

}
.btn a {
  text-decoration:none;
  color:#fff;
  background:linear-gradient(to right,#FF8400, #FF1E00);
  padding:12px 40px;
  border-radius:4px;
  font-size:15px;
  font-weight:700;  
  text-transform: uppercase;
}
.middle-area{
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  height:500px;
  overflow: hidden;
  margin-bottom: 80px; 
}

.bottom-area {
  background: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  height:500px;
  overflow: hidden;
  margin-bottom:100px;
}
.bottom-area h1 {
  text-align:center;
  
}
.padd {
  padding:20px;
  margin-left:6%;
}
.shadow{
  box-shadow: 10px 10px 40px grey;
  height:330px;
  border-radius:5px;
  background-color:#fff;
}
.padd h2{
  font-size:40px;
}
.padd h3{
  color:#ff8400;
}
#full-stack{
  border-left:7px solid;
  border-image: linear-gradient(180deg, yellow, lightsalmon);
  border-image-slice: 1;
}
#baby{
  border-left:7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

h5 {
  text-align: center;
  font-weight: 400;
  font-size:16px;
}



